<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Document</title>
</head>
<body>
     <h1>안녕하세요</h1>
     <pre th:text="${list}"></pre>
<table>
    <thead>
         <tr>
             <th>Id</th>
             <th>categoryName</th>
             <th>parrentId</th>
         </tr>
    </thead>
    <tbody>
        <tr th:each="items : ${list}">
            <td th:text="${items.id}"></td>
            <td th:text="${items.category_name}"></td>
            <td th:text="${items.parrent_id}"></td>
        </tr>
    </tbody>
</table>
<hr />
<div id ="response"></div>

<script>
    $(document).ready(function(){
        $.ajax({
            url : "/category2",
            method :"get",
            dataType : "json"
        }).done(function(data){
            console.log(data)
            var $html = '';
            if(Array.isArray(data)){
                data.forEach(element => {
                    console.log(element)
                    $html += `<div><pre>${element.name}<span>(${element.level})</span></pre></div>`
                });
            }
            $('#response').html($html);
        }).fail(function(error){
            console.log(error)
        });
    });
</script>
</body>
</html>