<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Document</title>
    <style>
        .level1::before{
            content: "+";
        }
        .level2::before{
            content: "--";
        }
        .level3::before{
            content: "----";
        }
        .response2 li{
            cursor: pointer;
        }

        .response2 li span:hover{
            color : red;
        }
        #response3 ul{
            
            display: flex;
        }
        #response3 ul li{
            border: 0 1px solid black;
        }
        ul,li{
            /* list-style: circle; */
        }
        input{width: 150px;}
        .editMenu{
            margin-left: 50px;
            border-radius: 4px;
            border:1px solid #eee;
            padding: 40px;
        }
    </style>
</head>

<body>
    <h1>안녕하세요</h1>
    <pre th:text="${list}"></pre>
    <div id="response"></div>
    <hr />
    <h3>Category</h3>
    <div style="display: flex;">
        <div class="response2"></div>
        <div class ="editMenu">
            <div>
                <lable>id : </lable><input type ="text" name="id" readonly value="">
            </div>
            <div>
                <lable>parrentId</lable><input type ="text" name="">
            </div>
            <div>
                <lable>name</lable><input type ="text" name="name">
            </div>
            <div>
                <lable>요약글</lable><textarea cols="51" rows="10"></textarea>
            </div>
        </div>
    </div>
    <hr/>
    <h4>Menu Grid</h4>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>categoryName</th>
                <th>parrentId</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="items : ${list}">
                <td th:text="${items.id}"></td>
                <td th:text="${items.category_name}"></td>
                <td th:text="${items.parrent_id}"></td>
            </tr>
        </tbody>
    </table>
    <hr />
    <div id="response3"></div>

    <script>
        var newData = '';
        $(document).ready(function () {
            $.ajax({
                url: "/category2",
                method: "get",
                dataType: "json"
            }).done(function (data) {
                // console.log(data)
                var $html = '';
                if (Array.isArray(data)) {
                    // data.forEach(element => {
                    //     // console.log(element)
                    //     $html +=
                    //         `<div class='node level${element.level}'>${element.name}<span>(${element.level})</span></div>`
                    // });

                    newData = getTreeData(data)
                    // console.log(newData)
                    printTree(newData,'.response2')
                    // printTree(newData,'#response3')
                }
                // $('#response').html($html);

                init();
            }).fail(function (error) {
                console.log(error)
            });
        });

        function printTree(data, dom){
            var root = document.createElement('ul');
            var lvl = 1; //first lvl
            data.forEach(function(item){
                var li = document.createElement('li')
                var span = document.createElement('span');

                span.append(`${item.name}(${lvl})`);
                li.appendChild(span)
                root.appendChild(li)
                var list = item.items;
                recAppend(list,li,lvl)
            })
            // console.log(root)
            // recAppend(data,root,lvl)
            $(dom).html(root);
        };

        function recAppend(list, ele, lvl){
            if(list.length !=0){
                lvl++;
                var ul = document.createElement('ul');
                list.forEach(function(item){
                    var li = document.createElement('li')
                    var span = document.createElement('span');
                    span.append(`${item.name}(${lvl})`);
                    li.appendChild(span)
                    ul.appendChild(li)
                    var list = item.items;
                    return recAppend(list, li,lvl);
                })
                ele.appendChild(ul);
            }
        };

        function getTreeData(array) {
            var map = {};
            for (var i = 0; i < array.length; i++) {
                var obj = {
                    "id": array[i]['id'],
                    "name": array[i]['name'],
                    "level": array[i]['level']
                };
                obj.items = [];
                map[obj.id] = obj;
                var parent = array[i]['parrent_id'] || '-';

                if (!map[parent]) {
                    map[parent] = {
                        items: []
                    };
                }
                map[parent].items.push(obj);
            }
            return map['-'].items;
        }
      

        function init(){
            var spanBtn = document.querySelectorAll('.response2 span');
            console.log(spanBtn);
            for(var i=0; i < spanBtn.length; i++){
                console.log(i)
                spanBtn[i].addEventListener('click',function(){
                    // alert('ddff')
                    var key = Object.keys(newData)

                    console.log(newData[0]);
                    // $('.editMenu pre').text(newData)
                });
            }
        }
        // setInterval(function(){
        //     init();
        // },1000)
        $(document).ready(function(){
            // init();

        })
   
        // function clickEvent(){
        //     alert('클릭');
        // }


        // fetch('/category2')
        // .then(function(response) {
        //     return response.json();
        // })
        // .then(function(myJson) {
        //     console.log('dfdfd')
        //     console.log(myJson)
        //     console.log(JSON.stringify(myJson));
        // });

        // var str = `<ul>dsdfdfsdfsf<ul>sdfssdfsdfsfd</ul>sdsfds</ul>`

        // var regex = new RegExp('<ul>(.*)</ul>/g');
        // regex.test(str)
    </script>
</body>

</html>